<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Horario</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> </th>
        <th> Lunes </th>
        <th> Martes </th>
        <th> Miércoles </th>
        <th> Jueves </th>
        <th> Viernes </th>
    </tr>
    </thead>
    <tbody>
    <div th:each="bloque :${sesiones}">
        <tr th:if="${bloque[0].horaInicio}">
            <td>
                <p th:text="${bloque[0].horaInicio}+ '-' +${bloque[0].horaFin}"></p>
            </td>
            <td th:each="sesion : ${bloque}">
                <p th:text="${sesion.modulo}">
            </td>
        </tr>
    </div>
    </tbody>
</table>
</body>
</html>